/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
  
    
}

/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    
   
}