body {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 100%;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 12px 14px;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
}


header .col-left {
    position: absolute;
}

header .col-right {
    padding-left:250px;
    width:100%;
}

.top-icons {
    float: right;
}

.col-left img {
    margin-top: 10px;
    vertical-align: middle;
    border-style: none;
}

.productImage {
    position: relative;
}



.newRibbon {
    height: 25px;
    width: 200px;
    background-color: #000;;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.sponsers{

padding: 45px 0;
}

.back {
    padding: 150px;
    background-image:url('img/Layer6.png');
    background-repeat: no-repeat; 
    position: relative;

}

.carousel-caption{
    top: 30%;
    bottom: auto;
}
   


.sale-block {
    line-height: 24px;
    letter-spacing: 1px;
    color: #f0f0f0;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:  translate(-50% ,-50%);
    -moz-transform:  translate(-50% ,-50%);
    transform:  translate(-50% ,-50%);

}

.sale-block p{
    padding:10px 0;
    max-width: 700px;
    margin: 0 auto;

}

.text-slider{
    text-align: center;
    margin:0 auto;
    color:#f0f0f0;
    max-width: 900px;
    line-height: 24px;
    letter-spacing: 1px;
    
}

.text-slider p{
    padding: 20px 0;
    margin: 0 auto;
    max-width: 500px;;
}

.news-letter{
    padding: 45px;
    background-color:#f0f0f0;
}

.letter-block{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 24px;
    letter-spacing: 1px;

}

.letter-text h2:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    padding-top: 10px;
    width: 75%; 
    border-bottom: 2px solid #000; 
}

.letter-text h2:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    padding-top: 10px;
    width: 75%; 
    border-bottom: 2px solid #000; 
}



.letter-block input{
    border: none;
}

footer {
    background-color: #000;
    padding: 45px 0 ;
}

.featured-items {
    padding: 50px;
}

.info-footer-list .list-group-item  {
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    padding: 0;
    line-height: 24px;
    letter-spacing: 1px;
}

.contact-footer-list .list-group-item  {
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    padding: 0;
    line-height: 24px;
    letter-spacing: 1px;
}

.contact-footer-list .list-group-item i {
    
    padding-right: 10px;
}

.footer-blog p {
    line-height: 24px;
}

.icon-background {
    color: #f0f0f0;
}

.top-icon-background {
    color: #000;
}

.top-icons .t-icon{
    color: #f0f0f0;
}

.top-icons .icon-cart {
    border: 1px solid #000;
    background-color: #000;
    border-radius: 5%;
    color: #f0f0f0;
    margin-top:5px;
    
}


.social-icons a{
    padding: 3px;
}

.social-icons .s-icon{
    color: #000;
    

}

.article h5 {
    font-weight: 600;
}

.article-detail {
    line-height: 24px;
    letter-spacing: 1px;
}

.article {
    padding: 45px 0;
}

.row img {
    padding: 0 8px;
}



